<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Импортированное правило 3" />
                <remove name="Импортированное правило 2" />
                <remove name="Импортированное правило 1" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3004/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
